.EmployeesTable {
  background-color: white;
  margin: 0px 30px;
  padding: 15px 20px;
  box-shadow: 1px 3px 2px 0px #c1c1c1;
  border-radius: 5px;
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .illust-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    > img {
      width: 450px;
    }
  }
  table {
    width: 100%;
    font-size: 18px;
    thead {
      height: 40px;
      box-shadow: 0px 2px 3px -2px #919191;
      th {
        text-align: start;
        min-width: 125px;
      }
    }
  }
  .not-display-on-mobile700,
  .not-display-on-mobile600 {
    display: table-cell;
  }
}

@media screen and (max-width: 700px) {
  .not-display-on-mobile700 {
    display: none !important;
  }
  .EmployeesTable {
    .illust-section {
      > img {
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .not-display-on-mobile600 {
    display: none !important;
  }
  .EmployeesTable {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .EmployeesTable {
    margin: 0px;
    padding: 15px 15px;
    table {
      thead {
        th {
          min-width: auto;
        }
      }
    }
  }
}
