.EmployeesTable {
  background-color: white;
  width: 1200px;
  margin: 0px 30px;
  padding: 15px 20px;
  box-shadow: 1px 3px 2px 0px #c1c1c1;
  border-radius: 5px;
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  table {
    width: 100%;
    font-size: 18px;
    thead {
      height: 40px;
      box-shadow: 0px 2px 3px -2px #919191;
      th {
        text-align: start;
      }
    }
  }
}
