.App {
  background-color: #f7f7f7;
  min-height: 100vh;
  main {
    display: flex;
    justify-content: center;
  }
  .app-button {
    height: 40px;
    font-size: 18px;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px 1px #d3d1d1;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 15px;
    &:active {
      box-shadow: none;
    }
    &.primary-button {
      background-color: #37576ad4;
    }
  }
}
